[Desktop Entry]
Type=Application
Name=Gato
Comment=Discord utility selfbot
Path=/usr/local/bin/gato
Exec=gato
Icon=/usr/local/bin/gato/resources/gato_pelon.png
Terminal=false